<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><label>Catch Design</label></a>
  <button class="btn btn-outline-light ml-auto" (click)="getCustomers()">Get Customers</button>
</nav>
<h3 class="customer-title">Customers</h3>
<table class="table table-striped customer-table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Gender</th>
      <th scope="col">IP</th>
      <th scope="col">Company</th>
      <th scope="col">City</th>
      <th scope="col">Title</th>
      <th scope="col">Website</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <th scope="row">{{customer.id}}</th>
      <td>{{customer.firstName}}</td>
      <td>{{customer.lastName}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.gender}}</td>
      <td>{{customer.ipAddress}}</td>
      <td>{{customer.company}}</td>
      <td>{{customer.city}}</td>
      <td>{{customer.title}}</td>
      <td><a href="{{customer.website}}">{{customer.website | slice: 0:16}}...</a></td>
    </tr>
  </tbody>
</table>



